.login {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/login.png");
    background-size: cover;
    padding-top: 250px;
    .form {
        width: 400px;
        height: 300px;
        margin: 0 auto;
        background: #fff;
        text-align: center;
        border-radius: 10px;
        padding-top: 20px;
        position: relative;
        h2 {
            margin-bottom: 30px;
        }
        .user {
            position: absolute;
            top: 90px;
            left: 70px;
            z-index: 100;
        }
        .lock {
            position: absolute;
            top: 145px;
            left: 70px;
            z-index: 100;
        }
        .ant-form {
            padding: 0 60px;
            #basic_username {
                padding-left: 30px;
            }
            #basic_password {
                padding-left: 20px;
            }
        }
    }
}