.tablebox {
    .tablebox1 {
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 2px 2px #ccc;
        padding: 20px;
        margin-bottom: 20px;
        p {
            font-size: 18px;
            border-bottom: 1px solid #aaa;
        }
    }
    .tablebox2 {
        @extend .tablebox1;
        height: 756px;
    }
    .tablebox3 {
        @extend .tablebox1;
        height: 757px;
        .editable-row .ant-form-explain {
            position: absolute;
            font-size: 12px;
            margin-top: -4px;
        }
    }
}