.folded {
    .folded1 {
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 2px 2px #ccc;
        padding: 20px;
        margin-bottom: 20px;
        p {
            font-size: 18px;
            border-bottom: 1px solid #aaa;
        }
    }
    .folded2 {
        @extend .folded1;
    }
    .folded3 {
        @extend .folded1;
        margin-bottom: 100px;
    }
}